/***********************
*
*	HERO/INTRO SECTION
*
***********************/

.section-hero {
	width: 100%;
	height: calc(100vh - 60px);
	margin-top: 60px;
	display: flex;
	align-content: center;
	z-index: 100;
}

.section-hero-flex {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.section-hero-intro {
	width: 48%;
}

.section-hero-intro h2 {
	font-size: 6rem;
	line-height: 1.15;
	padding-left: 20px;;
	border-left: 5px solid var(--site-color-3);
}

.section-hero-intro p {
	font-size: 1.8rem;
	line-height: 1.5;
	padding: 20px 0;
	color: var(--site-color-2);
}

.section-hero-buttons {
	display: inline-flex;
	width: 100%;
	padding: 10px 0;
	justify-content: space-between;
	align-items: center;
}

.section-hero-resume {
	position: relative;
	display: inline-flex;
	padding: 5px 50px;
	column-gap: 10px;
	align-items: center;
	border: 4px solid var(--site-color-3);
	border-radius: 5px;
	background-color: var(--site-color-1);
	z-index: 10;
	overflow: hidden;
	transition: border-color 0.3s;
}

.section-hero-resume h3 {
	font-size: 2rem;
	font-weight: 500;
	letter-spacing: .1rem;
}

.download-img {
	width: 25px;
	height: 25px;
	background-image: url(../img/download_orange.png);
	background-repeat: no-repeat;
	background-size: cover;
	transition: all 0.3s 0.2s;
}

.section-hero-resume:hover .download-img {
	background-image: url(../img/download_blue.png);
}

.section-hero-resume::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	background-color: var(--site-color-3);
	z-index: -10;
	transition: 0.5s;
}

.section-hero-resume:hover::before {
	width: 100%;
}

.section-hero-resume:hover {
	border-color: var(--site-color-4);
	transition: border-color 0.3s 0.2s;
}

.section-hero-social-media {
	display: inline-flex;
	margin-right: 30px;
	column-gap: 15px;
}

.section-hero-sm-in {
	width: 45px;
	height: 45px;
	background-image: url(../img/linkedin_white.png);
	background-repeat: no-repeat;
	background-size: cover;
	transition: all 0.3s;
}

.section-hero-sm-in:hover {
	background-image: url(../img/linkedin_color.png);
	transition: all 0.3s;
}

.section-hero-sm-gh {
	width: 45px;
	height: 45px;
	background-image: url(../img/github_white.png);
	background-repeat: no-repeat;
	background-size: cover;
	transition: all 0.3s;
}

.section-hero-sm-gh:hover {
	background-image: url(../img/github_color.png);
	transition: all 0.3s;
}

.section-hero-profile-pic {
	width: 35%;
}

.section-hero-profile-pic img {
	float: right;
	width: fit-content;
	border: 4px solid var(--site-color-3);
	box-shadow: 0 10px 5px 5px var(--site-color-2-alpha);
	animation: blob-animate 10s ease-in-out infinite;
	transition: all 1s ease-in-out;
}

/***********************
*
*	ABOUT SECTION
*
***********************/
.section-about{
	width: 100%;
	background-color: var(--site-color-2);
}

.section-about-flex {
	display: flex;
	flex-direction: column;
}

.section-about h2{
	overflow: hidden;
	text-align: center;
	padding: 40px 0;
	font-size: 3rem;
	line-height: 1.25;
	color: var(--site-color-1);
}

.section-about h2 span{
	position: relative;
    display: inline-block;
}

.section-about h2 span::before, .section-about h2 span::after{
	content: '';
    position: absolute;
    top: 50%;
    border-bottom: 4px solid var(--site-color-3);
    width: calc(1200px / 2);
    margin: 0 20px;
}

.section-about h2 span::before {
	right: 100%;
}

.section-about h2 span::after {
	left: 100%;
}

.section-about-pt-1, .section-about-pt-2, .section-about-pt-3{
	display: flex;
	justify-content: space-evenly;
	align-content: center;
}

.section-about img{
	height: 250px;
	width: fit-content;
	border-radius: 50px;
	border: 4px solid var(--site-color-1);
	margin: 10px 0;
	transition: all .5s;
}

.section-about-pt-3{
	margin-bottom: 30px;
}

.section-about img:hover{
	height: 275px;
	cursor: pointer;
}

.section-about-me-txt {
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.section-about-me-txt p {
	padding-bottom: 15px;
}

.section-about-separator-line {
	width: 100%;
	height: 2px;
	background-color: var(--site-color-1);
	opacity: 0.15;
}

.section-about-skills h3 {
	text-align: center;
	padding: 40px 0;
	color: var(--site-color-1);
}

.section-about-skills-table {
	width: 100%;
	display: flex;
	justify-content: space-between;
	column-gap: 20px;
}

.section-about-skills-table h6 {
	font-size: 1.6rem;
	font-weight: 600;
	line-height: 1.5;
	color: var(--site-color-4);
	font-family: 'Barlow', sans-serif;
	text-align: center;
	border-bottom: 2px solid var(--site-color-1);
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.skills-table-frontend, .skills-table-backend, .skills-table-other {
	display: block;
	align-self: stretch;
	width: 30%;
	padding: 20px 20px;
	background-color: var(--site-color-1-alpha);
	border: 4px solid var(--site-color-1);
	border-radius: 10%;
}

.section-about-contact {
	width: 100%;
	padding: 30px 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.section-about-skill-bar {
	width: 100%;
	height: 20px;
	border: 3px solid var(--site-color-1);
	background-color: var(--site-color-1-alpha);
	border-radius: 4px;
	margin-bottom: 5px;
}

.section-about-skill-bar-fill {
	height: 100%;
	background-color: var(--site-color-3);
}

.htmlcss {
	width: 80%;
}

.js {
	width: 30%;
}

.boot {
	width: 30%;
}

.resp {
	width: 65%;
}

.csharp {
	width: 90%;
}

.cplus {
	width: 90%;
}

.java {
	width: 80%;
}

.node {
	width: 65%;
}

.mysql {
	width: 75%;
}

.post {
	width: 70%;
}

.asp {
	width: 55%;
}

.git {
	width: 90%;
}

.gh {
	width: 90%;
}

.ado {
	width: 85%;
}

.cloud {
	width: 95%;
}

.tf {
	width: 95%;
}

.dckr {
	width: 65%;
}

.vs {
	width: 90%;
}

.section-about-contact a {
	position: relative;
	display: inline-flex;
	font-size: 2.0rem;
	font-weight: 500;
	letter-spacing: 0.1rem;
	padding: 10px 125px;
	margin: 15px 0;
	column-gap: 10px;
	align-items: center;
	border: 4px solid var(--site-color-3);
	border-radius: 10px;
	background-color: var(--site-color-1);
	z-index: 10;
	overflow: hidden;
	transition: border-color 0.3s;
}

.section-about-contact a::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	background-color: var(--site-color-3);
	z-index: -10;
	transition: 0.5s;
}

.section-about-contact a:hover::before {
	width: 100%;
}

.section-about-contact a:hover {
	border-color: var(--site-color-4);
	transition: border-color 0.3s 0.2s;
}

/***********************
*
*	PROJECTS SECTION (MAIN)
*
***********************/

.main-projects{
	width: 100%;
	background-color: var(--site-color-1);
	padding-bottom: 60px;
}

.main-projects-flex {
	display: flex;
	flex-direction: column;
}

.main-projects h2{
	width: fit-content;
	align-self: center;
	margin: 20px 0;
	padding: 20px 0;
	font-size: 3rem;
	line-height: 1.25;
	color: var(--site-color-4);
}

.main-projects-container h3 {
	border-left: 4px solid var(--site-color-3);
	padding: 0 15px;
	margin-bottom: 10px;
}

.project-image{
	width: 40%;
	border: 4px solid var(--site-color-3);
	border-radius: 50px;
	z-index: 10;
}

.project-image img{
	filter: blur(.2rem);
	border-radius: 50px;
	z-index: -10;
}

.project-info {
	width: 50%;
}

.project-info-desc {
	color: var(--site-color-2);
	margin-bottom: 5px;
}

.project-info-tech {
	width: 100%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	column-gap: 30px;
}

.project-info-links {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	column-gap: 30px;
}

.project-info-links-demo, .project-info-links-code{
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 30%;
}

.project-1 {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.project-1 .project-info .project-info-desc {
	filter: blur(.2rem);
}

.project-1 .project-info .project-info-tech {
	filter: blur(.2rem);
}

.project-1 .project-info .project-info-links {
	filter: blur(.2rem);
}

.project-info-links a {
	position: relative;
	display: inline-flex;
	letter-spacing: 0.1rem;
	padding: 10px 25px;
	margin: 15px 0;
	column-gap: 10px;
	align-items: center;
	border: 4px solid var(--site-color-3);
	border-radius: 10px;
	background-color: var(--site-color-1);
	z-index: 10;
	overflow: hidden;
	transition: border-color 0.3s;
	pointer-events: none; /******** REMOVE THIS ONCE THE PROJECT IS UPLOADED ********/
}

.project-info-links a::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	background-color: var(--site-color-3);
	z-index: -10;
	transition: 0.5s;
}

.project-info-links a:hover::before {
	width: 100%;
}

.project-info-links a:hover {
	border-color: var(--site-color-4);
	transition: border-color 0.3s 0.2s;
}

.code-img {
	width: 25px;
	height: 25px;
	background-image: url(../img/github_white.png);
	background-repeat: no-repeat;
	background-size: cover;
	transition: all 0.3s 0.2s;
}

.project-info-links-code:hover .code-img {
	background-image: url(../img/github_color.png);
}

.ext-img {
	width: 25px;
	height: 25px;
	background-image: url(../img/exit-top-right-white.png);
	background-repeat: no-repeat;
	background-size: cover;
	transition: all 0.3s 0.2s;
}

.project-info-links-demo:hover .ext-img {
	background-image: url(../img/exit-top-right-blue.png);
}

/***********************
*
*	CONTACT SECTION
*
***********************/
.section-contact{
	width: 100%;
	background-color: var(--site-color-2);
	padding-bottom: 60px;
}

.section-contact-flex {
	display: flex;
	flex-direction: column;
}

.section-contact h2{
	overflow: hidden;
	text-align: center;
	padding: 40px 0;
	font-size: 3rem;
	line-height: 1.25;
	color: var(--site-color-1);
}

.section-contact h2 span{
	position: relative;
    display: inline-block;
}

.section-contact h2 span::before, .section-contact h2 span::after{
	content: '';
    position: absolute;
    top: 50%;
    border-bottom: 4px solid var(--site-color-3);
    width: calc(1200px / 2);
    margin: 0 20px;
}

.section-contact h2 span::before {
	right: 100%;
}

.section-contact h2 span::after {
	left: 100%;
}

.section-contact-container {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	column-gap: 30px;
}

.section-contact-details {
	display: flex;
	flex-direction: column;
}

.section-contact-details h4{
	color: var(--site-color-1);
}

.section-contact-details-location,
.section-contact-details-email,
.section-contact-details-phone,
.section-contact-details-in {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	column-gap: 25px;
	margin-bottom: 30px;
}

.section-contact-details-gh {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	column-gap: 25px;
}

.section-contact-details-location .section-contact-details-logo {
	width: 40px;
	height: 40px;
	background-image: url(../img/location_white.png);
	background-repeat: no-repeat;
	background-size: cover;
	pointer-events: fill;
	transition: all 0.3s;
}

.section-contact-details-location .section-contact-details-logo:hover {
	background-image: url(../img/location_color.png);
	transition: all 0.3s;
}

.section-contact-details-email .section-contact-details-logo {
	width: 40px;
	height: 40px;
	background-image: url(../img/email_white.png);
	background-repeat: no-repeat;
	background-size: cover;
	transition: all 0.3s;
}

.section-contact-details-email .section-contact-details-logo:hover {
	background-image: url(../img/email_color.png);
	transition: all 0.3s;
}

.section-contact-details-phone .section-contact-details-logo {
	width: 40px;
	height: 40px;
	background-image: url(../img/call_white.png);
	background-repeat: no-repeat;
	background-size: cover;
	transition: all 0.3s;
}

.section-contact-details-phone .section-contact-details-logo:hover {
	background-image: url(../img/call_color.png);
	transition: all 0.3s;
}

.section-contact-details-in .section-contact-details-logo {
	width: 40px;
	height: 40px;
	background-image: url(../img/linkedin_white.png);
	background-repeat: no-repeat;
	background-size: cover;
	transition: all 0.3s;
}

.section-contact-details-in .section-contact-details-logo:hover {
	background-image: url(../img/linkedin_color.png);
	transition: all 0.3s;
}

.section-contact-details-gh .section-contact-details-logo {
	width: 40px;
	height: 40px;
	background-image: url(../img/github_white.png);
	background-repeat: no-repeat;
	background-size: cover;
	transition: all 0.3s;
}

.section-contact-details-gh .section-contact-details-logo:hover {
	background-image: url(../img/github_color.png);
	transition: all 0.3s;
}

.section-contact-details-text-link {
	transition: all 0.3s;
}

.section-contact-details-text-link:hover {
	color: var(--site-color-1);
}

.section-contact-form {
	width: 500px;
	background-color: var(--site-color-1-alpha);
	border: 4px solid var(--site-color-1);
	border-radius: 10%;
}

.section-contact-form form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.section-contact-form h3 {
	margin: 15px 0;
}

.section-contact-form-name-field,
.section-contact-form-email-field,
.section-contact-form-subject-field {
	display: inline-flex;
	justify-content: space-between;
	width: 80%;
	margin-bottom: 5px;
}

.section-contact-form-name-field input,
.section-contact-form-email-field input,
.section-contact-form-subject-field input {
	width: 75%
}

.section-contact-form-message-field {
	display: flex;
	flex-wrap: wrap;
	width: 80%;
	margin: 10px 0;
}

.section-contact-form-message-field textarea{
	width: 100%;
	height: 200px;
	resize: none;
}

.section-contact-form button {
	position: relative;
	display: inline-flex;
	letter-spacing: 0.1rem;
	padding: 10px 100px;
	margin: 15px 0;
	column-gap: 10px;
	align-items: center;
	border: 4px solid var(--site-color-3);
	border-radius: 10px;
	background-color: var(--site-color-1);
	z-index: 10;
	overflow: hidden;
	transition: border-color 0.3s;
}

.section-contact-form button::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	background-color: var(--site-color-3);
	z-index: -10;
	transition: 0.5s;
}

.section-contact-form button:hover::before {
	width: 100%;
}

.section-contact-form button:hover {
	border-color: var(--site-color-4);
	transition: border-color 0.3s 0.2s;
}

/***********************
*
*	ANIMATION CONTROLLERS
*
***********************/

@keyframes blob-animate {
	0% {
		border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
	}
	50% {
		border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
	}
	100% {
		border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
	}
}